.services {
    background-color: black;
    padding-top: 5.625em;
    @media (max-width: 768px) {
        padding-top: 2.625em;
    }
    @media (max-width: 1280px) {
        font-size: 12.6px;
    }
    @media (max-width: 992px) {
        font-size: 9.6px;
    }
    .wrapper {
        margin: 0 auto;
        max-width: 1200px;
        position: relative;
        @media (max-width: 1279px) {
            max-width: 95%;
        }
        .row:nth-of-type(1) {
            display: flex;
            align-items: center;
            margin-left: 0.4em;
            .column:nth-of-type(1) {
                span {
                    color: white;
                    font-size: 1.25em;
                    font-weight: 700;
                }
            }
            .column:nth-of-type(2) {
                background-color: white;
                width: 7.6875em;
                height: 0.125em;
                margin: 0 0.5em;
            }
            .column:nth-of-type(3) {
                span:nth-of-type(1),
                span:nth-of-type(3) {
                    color: #f64848;
                    font-size: 1.25em;
                    font-weight: 700;
                }
                span:nth-of-type(2) {
                    color: white;
                    font-size: 1.25em;
                    font-weight: 700;
                }
            }
        }
        .row:nth-of-type(2) {
            margin-top: 1.4375em;
            .column {
                h2 {
                    font-size: 3.75em;
                    font-weight: 600;
                    color: white;
                }
            }
        }
        .row:nth-of-type(3) {
            margin-top: 1.875em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .column:nth-of-type(1) {
                .ellipseText {
                    position: relative;
                    width: 29.8125em;
                    img {
                        width: 19.1875em;
                        height: 9em;
                        position: absolute;
                        top: -1.5em;
                        left: 4em;
                    }
                    p {
                        color: white;
                        font-size: 1.875em;
                        font-weight: 600;
                        line-height: 1.4em;
                    }
                }
            }
            .column:nth-of-type(2) {
                img {
                    width: 14.5em;
                    height: 11.5em;
                }
            }
        }
        .row:nth-of-type(4) {
            margin-top: 1.875em;
            .items {
                display: flex;
                justify-content: space-between;
                margin-bottom: 5em;
                .column {
                    width: 28.125em;
                    h3 {
                        color: white;
                        font-size: 1.875em;
                        font-weight: 600;
                        margin-bottom: 1em;
                    }
                    p {
                        color: white;
                        font-size: 1.25em;
                        font-weight: 500;
                        line-height: 1.5em;
                    }
                }
            }
        }
        .row:nth-of-type(5) {
            position: relative;
            .arrow {
                position: absolute;
                width: 10.375em;
                height: 13.375em;
                left: 20em;
                top: -3.5em;
            }
            .column {
                display: flex;
                align-items: center;
                justify-content: space-between;
                div:nth-of-type(1) {
                    position: relative;
                    top: 0;
                    left: 0;
                }
                .bttns {
                    width: 31.8em;
                    height: 14.25em;
                }
            }
        }
    }
}
