.container {
    background-color: black;
    font-size: calc(9.9px + (24 + 24 * 0.3) * ((100vw - 320px) / 992));
    .wrapper:nth-of-type(1) {
        margin: 0 auto;
        max-width: 95%;
        .row:nth-of-type(1) {
            display: flex;
            align-items: center;
            .column:nth-of-type(1) {
                span {
                    color: white;
                    font-size: 1em;
                    font-weight: 700;
                }
            }
            .column:nth-of-type(2) {
                width: 3.75em;
                height: 0.125em;
                margin: 0 0.625em;
                background-color: white;
            }
            .column:nth-of-type(3) {
                span:nth-of-type(1),
                span:nth-of-type(3) {
                    color: #f64848;
                    font-size: 1em;
                    font-weight: 700;
                }
                span:nth-of-type(2) {
                    font-size: 1em;
                    font-weight: 700;
                    color: white;
                }
            }
        }
        .row:nth-of-type(2) {
            margin: 1.25em 0 3.125em 0;
            span {
                color: white;
                font-size: 2.0625em;
                font-weight: 600;
            }
        }
    }
    .wrapper:nth-of-type(2) {
        padding-bottom: 19.45em;
        .row:nth-of-type(1) {
            .column {
                padding: 3.125em 0;
                &:nth-of-type(1) {
                    border-top: 0.0625em solid white;
                }
                border-bottom: 0.0625em solid white;
                a {
                    position: absolute;
                    img {
                        width: 0;
                    }
                }
                &:hover {
                    background-color: rgb(56, 56, 56);
                    a {
                        position: absolute;
                        right: 0;
                        width: 70%;
                        img {
                            width: 100%;
                            transition-duration: 150ms;
                        }
                    }
                }
                .items {
                    display: grid;
                    grid-template-columns: 1fr 4fr 1fr;
                    align-items: center;
                    margin: 0 auto;
                    max-width: 95%;
                    font-size: calc(9.9px + (24 + 24 * 0.3) * ((100vw - 320px) / 992));
                    span:nth-of-type(1),
                    span:nth-of-type(3) {
                        color: white;
                        font-size: 1.125em;
                        font-weight: 600;
                    }
                    span:nth-of-type(2) {
                        color: white;
                        font-size: 1.375em;
                        font-weight: 600;
                    }
                }
            }
            .row:nth-of-type(4) {
            }
        }
        .row:nth-of-type(2) {
            margin: 0 auto;
            max-width: 95%;
            font-size: calc(9.9px + (24 + 24 * 0.3) * ((100vw - 320px) / 992));
            position: relative;
            .elipse {
                width: 9.5625em;
                height: 9em;
                position: absolute;
                top: 6.5em;
            }
            .arrow {
                width: 3.125em;
                height: 5.625em;
                position: absolute;
                top: 1.875em;
                right: 2em;
            }
            .circle {
                width: 12.375em;
                height: 12.375em;
                border: 0.0625em solid white;
                border-radius: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 3.125em;
                right: 4.5em;
                &:hover {
                    background-color: #f64848;
                }
                span {
                    color: white;
                    font-size: 1.125em;
                    font-weight: 600;
                    white-space: nowrap;
                    margin-right: -3.4em;
                }
            }
        }
    }
}
