.circle {
    border: 0.0625em solid white;
    border-radius: 100%;
    width: 8.0625em;
    height: 8.0625em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1em;
    &:hover {
        background-color: #F64848;
        transition-duration: 100ms;
    }
    span {
        color: white;
        font-size: 1em;
        font-weight: 600;
        white-space: nowrap;
        margin-left: 3em;
    }
}